<div class="services-block">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 d-flex justify-content-center justify-content-lg-start">
        <div class="item d-flex align-items-center">
          <div class="icon"><i class="{{settings.footer_first_column_icon}}"></i></div>
          <div class="text">
            <h6 class="no-margin text-uppercase">{{settings.footer_first_column_top_text}}</h6><span>{{settings.footer_first_column_bottom_text}}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex justify-content-center">
        <div class="item d-flex align-items-center">
          <div class="icon"><i class="{{settings.footer_second_column_icon}}"></i></div>
          <div class="text">
            <h6 class="no-margin text-uppercase">{{settings.footer_second_column_top_text}}</h6><span>{{settings.footer_second_column_bottom_text}}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex justify-content-center">
        <div class="item d-flex align-items-center">
          <div class="icon"><i class="{{settings.footer_third_column_icon}}"></i></div>
          <div class="text">
            <h6 class="no-margin text-uppercase">{{settings.footer_third_column_top_text}}</h6><span>{{settings.footer_third_column_bottom_text}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>